<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Nick's Node Playground</title>
    <link rel="stylesheet" href="./css-test.css">
</head>

<body>
    <h1>Learning how to implement a back end so i can make actual useful personal projects.</h1>
    <p>Click some of these links</p>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/contact-me">contact</a></li>
    </ul>
</body>

</html>