<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - Nick's Node Playground</title>
    <link rel="stylesheet" href="./css-test.css">
</head>

<body>
    <h1>Contact Me</h1>
    <p>(900)123-4567</p>
    <p>Navigate with these links</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">about</a></li>
    </ul>
</body>

</html>