<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css-test.css">
    <title>Nick's Node Playground</title>
</head>

<body>
    <h1>Hey, welcome to the first site I made with Node.</h1>
    <p>Click some of these links</p>
    <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/contact-me">contact</a></li>
    </ul>
</body>

</html>